<h3><%= title %></h3>

<% _.each(items, function(item) { %>
<h4>Professor: <%= item.name %></h4>

<table class="table table-bordered table-hover">
    <tbody>
        <tr>
            <td>Course title</td>
            <td><%= item.course_title %></td>
        </tr>
        <tr>
            <td>Course number</td>
            <td><%= item.course_number %></td>
        </tr>
        <tr>
            <td>First choices</td>
            <td>
                <ul>
                    <% _.each(item.first_choices, function(choice) { %>
                        <li><%= choice %></li>
                    <% }); %>
                </ul>
            </td>
        </tr>
        <tr>
            <td>Second choices</td>
            <td>
                <ul>
                    <% _.each(item.second_choices, function(choice) { %>
                        <li><%= choice %></li>
                    <% }); %>
                </ul>
            </td>
        </tr>
        <tr>
            <td>Third choices</td>
            <td>
                <ul>
                    <% _.each(item.third_choices, function(choice) { %>
                        <li><%= choice %></li>
                    <% }); %>
                </ul>
            </td>
        </tr>
        <tr>
            <td>Other additional availability</td>
            <td><%= item.other_additional_availability %></td>
        </tr>
        <tr>
            <td>Other preferred times</td>
            <td><%= item.other_preferred_times %></td>
        </tr>
        <tr>
            <td>Unavailable times</td>
            <td>
                <ul>
                    <% _.each(item.unavailable_times, function(time) { %>
                        <li><%= time %></li>
                    <% }); %>
                </ul>
            </td>
        </tr>
        <tr>
            <td>Shouldn't conflict with these courses</td>
            <td><%= item.no_conflict_courses %></td>
        </tr>
        <tr>
            <td>Other comments</td>
            <td><%= item.other_comments %></td>
        </tr>
        <tr>
            <td>Max students</td>
            <td><%= item.max_students %></td>
        </tr>
        <tr>
            <td>Is special permission required?</td>
            <td><%= item.is_special_permission_required %></td>
        </tr>
        <tr>
            <td>Is attendance of first class mandatory?</td>
            <td><%= item.is_first_class_attendance_mandatory %></td>
        </tr>
        <tr>
            <td>Grading option</td>
            <td><%= item.grading_option %></td>
        </tr>

    </tbody>
</table>

<hr />
<% }); %>