<h3><%= title %></h3>

<% _.each(items, function(item) { %>
<h4>Professor: <%= item.name %></h4>
<ul>
    <li>Start date: <%= item.start_date %></li>
    <li>End date: <%= item.end_date %></li>
    <li>Course title: <%= item.course_title %></li>
    <li>Course number: <%= item.course_number %></li>
    <li>First choices:
        <ul>
        <% _.each(item.first_choices, function(choice) { %>
            <li><%= choice %></li>
        <% }); %>
        </ul>
    </li>
    <li>Second choices:
        <ul>
        <% _.each(item.second_choices, function(choice) { %>
            <li><%= choice %></li>
        <% }); %>
        </ul>
    </li>
    <li>Third choices:
        <ul>
        <% _.each(item.third_choices, function(choice) { %>
            <li><%= choice %></li>
        <% }); %>
        </ul>
    </li>
    <li>Other additional availability: <%= item.other_additional_availability %></li>
    <li>Other preferred times: <%= item.other_preferred_times %></li>
    <li>Unavailable times:
        <ul>
        <% _.each(item.unavailable_times, function(time) { %>
            <li><%= time %></li>
        <% }); %>
        </ul>
    </li>
    <li>Shouldn't conflict with these courses: <%= item.no_conflict_courses %></li>
    <li>Other comments: <%= item.other_comments %></li>
</ul>
<% }); %>
